<!DOCTYPE html>
<html>
    <head>
        <title>Weight Prediction App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Height: <input type="number" name="height", placeholder="Enter height in cm" required/>
            <br><br>
            Gender:  <input type="radio" id="html" name="gender" value="Male">
            <label for="Male">Male</label>
            <input type="radio" id="css" name="gender" value="Female">
            <label for="Female">Female</label><br>
            <br><br>
            <button>Predict</button>
        </form>
        <p style="text-align: center;">Your Weight: {{ output }} kg</p>
    </body>
</html>
